.btn_detail {
  &_edit, &_delete {
    width: 100%;
    font-size: 18px;
  }
}

.details {
  &_date {
    text-align: end;
  }
  &_title {
    text-align: center;
  }
}

.similar {
  text-align: center;
}

.text-align-center {
  text-align: center;
}

.link-style {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.link-style:hover {
  text-decoration: underline;
}