.card {
  &-text-date {
    text-align: end;
  }

  &-text-description {
    border: 2px solid;
  }
}

/* CARDS */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    margin: 20px;
    padding: 15px;
    width: 250px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    margin: 20px;
    padding: 15px;
    width: 300px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    margin: 20px;
    padding: 15px;
    width: 300px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    margin: 20px;
    padding: 15px;
    width: 400px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    margin: 20px;
    padding: 15px;
    width: 400px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }

  &:hover{
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }

  &__link, &__exit, &__icon{
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    background: none;
  }

  &__link::after{
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
  }

  &__link:hover{
    color: rgba(255, 255, 255, 0.6);
  }

  &__link:hover::after{
    width: 100%;
  }

  &__icon{
    margin: 0;
    padding: 0;
    grid-row: 2/3;
    font-size: 30px;
  }

  &__icon:hover {
    color: yellow;
  }

  &__title {
    grid-row: 3/4;
    font-weight: 700;
    color: #ffffff;
  }

  &__read {
    display: flex;
    justify-content: space-between;
    color: white;
  }
}


/* CARD BACKGROUNDS */

.card-background {
  background: radial-gradient(#76b2fe, #b69efe);
}

/* RESPONSIVE */

@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}

.btn-close {
  justify-self: end;
}
